@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
/*초기화*/
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; color:inherit;}
img { border:0; vertical-align:middle; }
html{height: 100%; margin: 0; padding: 0;}
body {background-color: rgb(243, 242, 242); font-family:'Nanumsquare', "맑은 고딕","돋움",sans-serif; color:#333; font-size:15px; width: 100%; margin: auto; min-height: 98%; position: relative; min-width: 500px;}
.wrap{width: 100%; }

/**
* text 태그 관련
*/
.text-deco {
	color: rgb(152, 126, 88);
}
#order{
	font-size: 14px; 
	padding-top:10px;
}
#script{
	font-size: 15px; 
	padding-top:10px;
	padding-bottom:0;
}
label{
	font-size: 16px; 
	height: 20px;
}
#right{
	font-size: 20px;
}
#choice{
	font-size: 24px;
	font-weight: bold;
}
h1{font-size:20px; font-family:'Gilda Display', serif;} 
h2 {font-size: 35px; font-family:'Gilda Display', serif;}
h3 {font-size:40px; text-align:center; font-weight:normal;}
h4 {font-size: 20px; }
p {font-size: 18px;}
#message{background-color:#ebe8e8; color: rgb(101, 101, 101); height: 120px; text-align: center; padding-top: 50px;}
   
/**
* input 태그 관련
*/
input[type="checkbox"]{
	zoom: 1.5; cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"]{
    width: 270px;
    padding-left: 6px;
    border: none;
}
#dog, #cat, .neuter, .sex, .raibies{
	width: 10px; 
	height: 10px;
}
#allAgree {
	position:relative; 
	bottom:-10px;
}
.allagree{
	position: relative; 
	left:10px; 
}
#agree1,#agree2,#agree3, #allAgree1, #allAgree2, #sms1,#email1, #email2, .c2{
	position:relative; 
	top:11.5px;
}
.checksub{
	margin-left: 20px; 
	display:block; 
	height:20px;
}
.c1{
	position:relative; 
	left:10px;
}

/**
* button 태그 관련
*/
.button{
	display:block;
	position:relative;
	display:block;
	width:320px; 
	margin:0 auto; 
	padding-top:30px; 
	padding-bottom:30px;
	font-family:'Nanumsquare'
}

#btn1,#btn2 {
	border:0.7px solid  #73645D; 
	background-color:transparent;
	width:100px; 
	height:30px;
	font-family:'Nanumsquare'
}

#btn1,#btn2 a {
	color: #73645D;
	font-size:13px;
	font-family:'Nanumsquare'
}

#leftBtn{
	background-color: rgba(233, 230, 226, 1);
	margin: 0 auto; 
    width:150px;
    height:30px;
    border:none;
    color:#73645D; 
    font-size:16px;
    cursor:pointer;
    font-family:'Nanumsquare'    
}

#btn1:hover,#btn2:hover {
	border:0.7px solid  #73645D; 
	background-color:#73645d; 
	color:rgba(233, 230, 226, 1);
	width:100px; 
	height:30px;
}

#button{ 
	background-color: #73645d; 
        margin: 0 auto; 
        width:150px;
        height:30px;
        border:none;
        color:#fff;
        font-size:16px;
        cursor:pointer;
        font-family:'Nanumsquare'      
        }

.checkBtn{
	background-color: rgba(233, 230, 226, 1);
    width:80px;
    height:30px;
    border:none;
    color:gray; 
    font-size:13px;
    cursor:pointer;
    font-family:'Nanumsquare'    
}

.checkBtn:hover{
	background-color: gray;
    color:rgba(233, 230, 226, 1); 
}

select{height:30px;}
input{height:30px;}

.innerwrap {
	width: 800px;
	height: 100%;
	margin-top: 50px;
	position: relative;
	padding-bottom: 60px;
}

.check{
	height: 100%;
	margin-bottom: 30px;
	padding-left: 10px;
}

#header_wrap { position:relative; border-bottom:0.7px solid black; }
header { width:100%; margin:auto;  }
.header_top { height:40px; }
.header_top:after { position:absolute; top:40px; left:0; display:block; content:""; width:100%; height:0.8px; background:#6A6A6A;} /*화면 꽉 차는 가로 라인*/
 
 .header_middle{margin-bottom: 40px;}
 
.black_menu a { color:#fff; font-size:15px; font-weight:bold; }
.left_to_menu a:hover {max-width: 100px; background-color: #b7aeae; transition: 0.3s;}
ul.left_to_menu { display:inline-block; padding-left: 18px; }
.left_to_menu li { display:inline-block; line-height:40px; padding-right: 35px;}
.left_to_menu a { position:relative; font-size:14px; font-weight:bold; display:block;}


ul.top_member_box { float:right; }
.top_member_box > li { display:inline-block; margin-left: 15px;line-height:40px;;}
.top_member_box > li > a { font-size:12px; }
.top_member_box > li .arrow img { transition:0.5s ease-in ;}
.top_member_box > li:hover .arrow img { transform:rotate(180deg)}


#header_bottom {}   
.header_main { position:relative; padding-top: 30px; }
.gnb_all { position:absolute; left:0; top:30px; margin-left: 20px;}
#hamB { display:none; }
.hamB_la { position:relative; width:24px; height:24px; display:inline-block; vertical-align:middle; cursor:pointer; }
.hamB_la span {  position:absolute; display:inline-block; width:24px; height:1.3px; background:#000; top:4px; transform-origin:2px 1px; /*중심축의 위치 변경*/ transition:0.3s; /*bar가 변할때 시간이 걸린다*/}

.hamB_la span:nth-child(1) { }
.hamB_la span:nth-child(2) { top:50%; width: 18px;  transform:translateY(-50%);  }
.hamB_la span:nth-child(3) { bottom:4px; top:auto; /*span에 미리 적용되 어 있는 top값을 무효화 해주기 위해 auto를 걸어준다*/}

.gnb_all:hover span{width: 25px;}
.gnb_all:hover span:nth-child(2):after{opacity: 1;bottom: -20px;}
        
 h1 { text-align:center;font-family: 'Gilda Display', serif;}

.right_btn { position:absolute; right:0; top:50px; }
.right_btn li { display:inline-block; width:22px; height:22px; margin-left:20px; text-indent:-9999px; }


.gnb{text-align:center;} 
.gnb:before { position:absolute; left:0; display:block; content:""; width:100%; height:0.8px; background: #6A6A6A;}  /*화면 꽉 차는 가로 라인*/

.gnb .depth0 { margin: 0 auto;}       
.gnb .depth0 > li {display:inline-block; margin-right:80px; padding-left:10px;}
.gnb .depth0 > li:last-of-type { margin-right:0;}
.gnb .depth0 > li > a {font-weight: bold; font-size:14px; font-family:'Gilda Display', serif; display:inline-block; padding:0;line-height:45px;}
.gnb .depth0 > li > a:hover {color:#292523 ; text-decoration: underline;color: #c6c0c0; border-radius:5px; transition:0.3s; }

 /*푸터*/
    #footer_wrap {position : absolute; bottom:0; height: 60px; padding:20p; width: 100%; background: black; color: white;}
    footer {padding-top: 5px; width:100%; height: 100%; margin:auto; overflow:hidden;}
    footer .left_con { float:left; display:inline-block;color:white;  }

    footer .logo {font-family: 'Gilda Display', serif; font-size: 20px; font-weight: bold;}
    footer .info { margin-top: 18px; line-height: 21px; font-size: 14px; }
    footer .copy {text-align: center; margin-top: 8px;}
    
    footer .right_con { float:right; display:inline-block; color:white; text-align:right; }
    .right_con li {
    display: inline-block;
    margin-left: 15px;
    }
